h1{font-size: 30pt;
    margin: auto;
    display: inline-block;
    text-align: center;
}
img{
    height: 300px;
    width: 300px;
    box-shadow: 10px 5px 5px black;
}
.grid-container{
    display:grid;
    display: inline-grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    background-color: red;
    margin-left: 0px;
    margin-right: 0px;

}
.grid-item{
    padding: 20px;
}
.grid-item:hover{background-color: coral;}

@media screen and (max-width:768px){
    .grid-container{width: auto;}
}
@media screen and (min-width:992px){
    .grid-container{width: auto;}
}
@media screen and (min-width:1200px){
    .grid-container{width: 100%;}
}
@media screen and (max-width:600px){
    .grid-container{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .grid-container{
        width: auto;
        margin-left: auto;
        margin-right: auto;
}
    img{
    height: 80px;
    width: 80px;
    box-shadow: 10px 5px 5px black;
}
   
}

