hh1{
    font-size: 30pt;
    margin: 2rem 0;
    text-align: center;
}
body{
    background-color: aquamarine;
}
.grid-item{
    height:300px;
    width:300px;
    margin:0 auto;
    border-radius: 10px;
    overflow: hidden;
}
img{
    height: 100%;
    transition: transform 500ms;
    display: block;
    width: auto;
    
    box-shadow: 10px 5px 5px black;
}
img:hover{
    transform: scale(1.4);
}
.grid-container{
    display:grid;
    justify-content: center;
    
    
    grid-template-columns: 1fr ;
    column-gap: 10px;
    row-gap: 10px;
    
    
    

}

.grid-item:hover{background-color: coral;}
@media screen and (min-width:600px){
    .grid-container{
        grid-template-columns: 1fr 1fr ;
    }
}
@media screen and (min-width:900px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


